@tailwind base;
@tailwind components;
@tailwind utilities;

/* ______________________________________________________________________ *\
   Import Local Fonts
\* ______________________________________________________________________ */
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: local("Poppins-Black"),
    url("../public/assets/font/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: local("Poppins-Regular"),
    url("../public/assets/font/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: local("Poppins-Light"),
    url("../public/assets/font/Poppins-Light.ttf") format("truetype");
}

/* ______________________________________________________________________ *\
   Global Variables
\* ______________________________________________________________________ */
:root {
  /* light/dark mode toggle switch */
  --switch-width: 56px;
  --switch-height: 24px;
  --slider-space: 1px;
  --icon-space: 1px;
  --slider-height: calc(var(--switch-height) - calc(2 * var(--slider-space)));
  --slider-width: var(--slider-height);
  --slider-course: calc(
    calc(var(--switch-width) - var(--slider-width)) - 2 * var(--slider-space)
  );
  --icon-height: calc(var(--slider-height) - 2 * var(--icon-space));
  --icon-width: var(--icon-height);
}

/* ______________________________________________________________________ *\
   Base
\* ______________________________________________________________________ */
@layer base {
  body {
    color: theme("colors.neutral.darkest");
    font-family: theme("fontFamily.sans");
    font-size: theme("fontSize.base");
  }

  section {
    padding: 80px 0 32px 0;
    margin-inline: clamp(24px, 7.5vw, 192px);

    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: theme("screens.md")) {
      margin-inline: clamp(64px, 7.5vw, 320px);
    }

    @media screen and (min-width: theme("screens.xl")) {
      margin-inline: clamp(96px, 20vw, 576px);
    }
  }

  h1,
  h2,
  h3 {
    font-family: theme("fontFamily.header");
  }

  h1,
  h3 {
    font-weight: theme("fontWeight.bold");
  }

  h1 {
    font-size: theme("fontSize.xl");
    @media screen and (min-width: theme("screens.md")) {
      font-size: theme("fontSize.2xl");
    }
  }

  h2 {
    font-size: theme("fontSize.lg");
    @media screen and (min-width: theme("screens.md")) {
      font-size: theme("fontSize.xl");
    }
  }

  h3 {
    font-size: theme("fontSize.base");
    @media screen and (min-width: theme("screens.md")) {
      font-size: theme("fontSize.lg");
    }
  }

  p,
  label,
  input,
  button {
    font-size: theme("fontSize.sm");
    font-family: theme("fontFamily.sans");
    font-weight: theme("fontWeight.normal");
    @media screen and (min-width: theme("screens.md")) {
      font-size: theme("fontSize.base");
    }
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  label,
  input {
    padding: 8px 16px;
  }

  input {
    border: 1px solid theme("colors.neutral.default");
    border-radius: 100px;
    color: theme("colors.neutral.darkest");
  }
}

/* ______________________________________________________________________ *\
   Utilities
\* ______________________________________________________________________ */
.btn {
  padding: 0.6rem 2rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  text-align: center;
}

/* ______________________________________________________________________ *\
   Theme
\* ______________________________________________________________________ */
.theme__dark {
  color: theme("colors.neutral.lightest");
  background-color: theme("colors.neutral.darkest");
}

.theme__light {
  color: theme("colors.neutral.darkest");
  background-color: theme("colors.neutral.lightest");
}

.btn__secondary__default {
  color: theme("colors.neutral.lightest");
  background-color: theme("colors.neutral.default");
}

.btn__primary__default {
  color: theme("colors.neutral.lightest");
  background-color: theme("colors.accent.default");
  border: 1px solid transparent;
  &:hover {
    color: theme("colors.accent.default");
    background-color: theme("colors.neutral.lightest");
    border: 1px solid theme("colors.accent.default");
  }
}

.primary__default {
  color: theme("colors.accent.default");
}

/* ______________________________________________________________________ *\
   Components - Navbar
\* ______________________________________________________________________ */
.navbar {
  position: fixed;
  top: 16px;

  padding-inline: clamp(24px, 7.5vw, 192px);

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @apply backdrop-blur-[2px];
  z-index: 20;

  @media screen and (min-width: theme("screens.md")) {
    padding-inline: clamp(64px, 7.5vw, 320px);
  }

  @media screen and (min-width: theme("screens.xl")) {
    padding-inline: clamp(96px, 20vw, 576px);
  }
}

.navlist {
  position: fixed;
  top: -16px;
  right: 0;
  padding-top: 16px;

  min-height: 100dvh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  color: theme("colors.neutral.lightest");
  @apply bg-overlay/[99%] backdrop-blur;

  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navlist__isOpen {
  transform: translateX(0%);
}

.navitem {
  min-width: 144px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: theme("fontSize.lg");
}

.navitem__isActive {
  text-decoration: underline 1px;
  text-underline-offset: 8px;
}

.navitem__isActive svg > :nth-child(2) {
  fill: theme("colors.accent.default");
}

.navbar__btn {
  width: 34px;
  height: 34px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 20;
}

/* ______________________________________________________________________ *\
   Components - Switch Dark/Ligth Mode
\* ______________________________________________________________________ */
.toggle {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);

  cursor: pointer;
  background-color: theme("colors.neutral.default");
  border-radius: calc(var(--switch-height) / 2);
  transition: 0.3s;
}

.toggle input {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.toggle:after {
  position: absolute;
  content: "";
  top: var(--slider-space);
  left: var(--slider-space);
  height: var(--slider-height);
  width: var(--slider-width);
  border-radius: calc(var(--slider-height) / 2);
  background: theme("colors.accent.default");
  transition: 0.3s;
}

.toggle:hover:after {
  width: 50%;
}

.toggle:has(input[type="checkbox"]:checked):after {
  left: calc(var(--switch-width) - var(--slider-space));
  transform: translateX(-100%);
  background-color: theme("colors.overlay");
  transition: 0.3s;
}

.toggle:has(input[type="checkbox"]:checked) {
  transition: 0.3s;
}

.toggle__icon {
  position: absolute;
  top: calc(var(--slider-space) + var(--icon-space));
  cursor: pointer;
  z-index: 10;
}

.toggle__icon svg {
  width: var(--icon-width);
  height: var(--icon-height);
}

.toggle__icon_light {
  left: calc(var(--slider-space) + var(--icon-space));
  opacity: 1;
  transition: 0.3s;
}

.toggle__icon_dark {
  right: calc(var(--slider-space) + var(--icon-space));
  opacity: 0;
  transition: 0.3s;
}

.toggle__icon_light svg path {
  stroke: theme("colors.neutral.lightest");
}

.toggle__icon_dark svg path {
  stroke: theme("colors.neutral.lightest");
}

.toggle:has(input[type="checkbox"]:checked) .toggle__icon_light {
  opacity: 0;
  transition: 0.3s;
}

.toggle:has(input[type="checkbox"]:checked) .toggle__icon_dark {
  opacity: 1;
  transition: 0.3s;
}

/* ______________________________________________________________________ *\
   Components - Modal Game Settings
\* ______________________________________________________________________ */
.ant-modal-close {
  display: none;
}

.modalSettings__group {
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.modalSettings__label {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1 1 0;

  @apply rounded-full;
  cursor: pointer;
  background-color: theme("colors.neutral.default");
}

.modalSettings__label input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.modalSettings__label:has(input[type="radio"]:checked) {
  background-color: theme("colors.neutral.darkest");
  color: theme("colors.neutral.lightest");
}

.modalSettings__label:has(input[type="radio"]:disabled) {
  background-color: theme("colors.neutral.default");
  color: theme("colors.neutral.dark");
  cursor: default;
}

.modalSettings__label:has(input[type="radio"]:not(:disabled)):hover {
  background-color: theme("colors.accent.default");
  color: theme("colors.neutral.lightest");
}

.modalSettings__lock {
  position: absolute;
  top: 0;
  right: 0;
}
