@tailwind base;
@tailwind components;
@tailwind utilities;

/* ______________________________________________________________________ *\
   Import Local Fonts
\* ______________________________________________________________________ */
@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: local("Gilroy-ExtraBold"),
    url("../public/assets/font/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: local("Gilroy-Light"),
    url("../public/assets/font/Gilroy-Light.otf") format("opentype");
}

/* ______________________________________________________________________ *\
   Utilities
\* ______________________________________________________________________ */
.btn-default {
  @apply flex items-center justify-center gap-3 rounded-full
  border border-transparent bg-gradient-to-b from-[#4E5DB6]/95 to-[#9969C4]
  px-7 py-2 text-center font-header text-xs font-extrabold text-neutralLightest;
}

.btn-default:hover {
  @apply border-primaryLight bg-neutralLightest bg-none text-primaryLight;
}

/* ______________________________________________________________________ *\
   Base
\* ______________________________________________________________________ */
@layer base {
  body {
    color: theme("colors.neutralLightest");
    font-family: theme("fontFamily.sans");
    font-size: theme("fontSize.base");
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 80px 0 32px 0;
    margin-inline: clamp(24px, 7.5vw, 192px);

    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: theme("screens.md")) {
      padding-top: 32px;
    }

    @media screen and (min-width: theme("screens.xl")) {
      margin-inline: clamp(192px, 7.5vw, 288px);
    }

    @media screen and (min-width: theme("screens.2xl")) {
      margin-inline: clamp(288px, 20vw, 576px);
    }
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media screen and (min-width: theme("screens.md")) {
      gap: 16px;
    }
  }

  h1 {
    font-size: theme("fontSize.xl");
    font-family: theme("fontFamily.header");
    font-weight: theme("fontWeight.extrabold");
    text-transform: uppercase;
  }

  p {
    @apply font-sans text-sm md:text-base;
  }
}

/* ______________________________________________________________________ *\
   Components
\* ______________________________________________________________________ */
